<div>
  <div>
    <h1>
      List of all projects
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new project
    </h2>

    <form action="/insert_project" method="post">
      <div>
        <label for="company_id_box">
          Company
        </label>

        <input type="text" id="company_id_box" name="query_company_id">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>

      <div>
        <label for="repository_url_box">
          Repository url
        </label>

        <input type="text" id="repository_url_box" name="query_repository_url">
      </div>

      <button>
        Create project
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Company
        </th>

        <th>
          Name
        </th>

        <th>
          Description
        </th>

        <th>
          Repository url
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_projects.each do |a_project| %>
        <tr>
          <td>
            <%= a_project.id %>
          </td>

          <td>
            <%= a_project.company_id %>
          </td>

          <td>
            <%= a_project.name %>
          </td>

          <td>
            <%= a_project.description %>
          </td>

          <td>
            <%= a_project.repository_url %>
          </td>

          <td>
            <%= time_ago_in_words(a_project.created_at) %> ago
          </td>
          <td>
            <%= time_ago_in_words(a_project.updated_at) %> ago
          </td>

          <td>
            <a href="/projects/<%= a_project.id %>">
              Show details
            </a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<!-- This is the card-->



<div>
  <label class="swap swap-rotate text-base">

  <!-- this hidden checkbox controls the state -->
  <input type="checkbox" />

    <div class="swap-off">
      <div class="card w-96 bg-base-100 shadow-xl image-full">
        <figure><img src="https://robohash.org/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" /></figure>
        <div class="card-body">
          <h2 class="card-title justify-center">DataSwift</h2>
          <h3>Data Collection UX</h3>
          <p>A ruby on rails project that collects and saves user data</p>
          <div class="stats bg-primary text-primary-content">

            <div class="stat">
              <div class="stat-title">Bounty</div>
              <div class="stat-value">$400</div>
              <div class="stat-actions">
                <button class="btn btn-sm btn-success">accept</button>
              </div>
            </div>

            <div class="stat">
              <div class="stat-title">Time Left</div>
              <div class="stat-value">
                <div class="grid grid-flow-col gap-5 text-center auto-cols-max">
                  <div class="flex flex-col">
                    <span class="countdown font-mono text-md">
                      <span style="--value:<%= @days_remaining %>;"></span>
                    </span>
                    <span class="text-sm">days</span>
                  </div>
                  <div class="flex flex-col">
                    <span class="countdown font-mono text-md">
                      <span style="--value:<%= @hours_remaining %>;"></span>
                    </span>
                    <span class="text-sm">hours</span>
                  </div>
                  <div class="flex flex-col">
                    <span class="countdown font-mono text-md">
                      <span style="--value:<%= @minutes_remaining %>;"></span>
                    </span>
                    <span class="text-sm">min</span>
                  </div>
                </div>
              </div>
              <div class="stat-actions">
                <button class="btn btn-sm">repository</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="swap-on">
      <div>
        <div class="card w-96 bg-neutral text-neutral-content">
          <div class="card-body items-center text-center">
            <h2 class="card-title">Bug Report Title</h2>
            <p>I am haveing lots and lots of problems with my application I am in need of a lot of help</p>
            <div>
              <p>Difficulty</p>
              <progress class="progress progress-error w-56" value="100" max="100"></progress>
            </div>
            <div class="card-actions justify-center">
              <button class="btn btn-primary">Accept</button>
              <button class="btn btn-secondary">Message</button>
              <button class="btn btn-secondary">repo</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </label>
</div>
