
<hr>
<div class="mt-12 mb-12 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6">
  <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
    <%= image_tag 'microsoft.svg', class: 'h-12 w-auto mx-auto', loading: 'lazy', alt: 'client logo' %>
  </div>
  <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
    <%= image_tag 'airbnb.svg', class: 'h-12 w-auto mx-auto', loading: 'lazy', alt: 'client logo' %>
  </div>
  <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
    <%= image_tag 'google.svg', class: 'h-9 w-auto m-auto', loading: 'lazy', alt: 'client logo' %>
  </div>
  <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
    <%= image_tag 'ge.svg', class: 'h-12 w-auto mx-auto', loading: 'lazy', alt: 'client logo' %>
  </div>
  <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
    <%= image_tag 'netflix.svg', class: 'h-8 w-auto m-auto', loading: 'lazy', alt: 'client logo' %>
  </div>
  <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
    <%= image_tag 'google-cloud.svg', class: 'h-12 w-auto mx-auto', loading: 'lazy', alt: 'client logo' %>
  </div>
</div>
<div class="hero min-h-screen bg-base-200 flex justify-center items-center h-screen">
  <div class="bg-base-100 p-8 rounded-lg shadow-lg w-full max-w-md ">
    <h2 class="text-2xl font-bold mb-4">Add a new company</h2>
    <form action="/insert_company" method="post">
      <div class="mb-4">
        <label for="name_box" class="block text-gray-700 font-bold mb-2">Name</label>
        <input type="text" id="name_box" name="query_name" class="appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline">
      </div>
      <div class="mb-4">
        <label for="description_box" class="block text-gray-700 font-bold mb-2">Description</label>
        <textarea id="description_box" name="query_description" rows="3" class="appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline"></textarea>
      </div>
      <div class="mb-4">
        <label for="website_box" class="block text-gray-700 font-bold mb-2">Website</label>
        <input type="text" id="website_box" name="query_website" class="appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline">
      </div>
      <div class="flex justify-end">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Create company
        </button>
      </div>
    </form>
  </div>
</div>
