<div class="mt-12 mb-12 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6">
  <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
    <%= image_tag 'microsoft.svg', class: 'h-12 w-auto mx-auto', loading: 'lazy', alt: 'client logo' %>
  </div>
  <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
    <%= image_tag 'airbnb.svg', class: 'h-12 w-auto mx-auto', loading: 'lazy', alt: 'client logo' %>
  </div>
  <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
    <%= image_tag 'google.svg', class: 'h-9 w-auto m-auto', loading: 'lazy', alt: 'client logo' %>
  </div>
  <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
    <%= image_tag 'ge.svg', class: 'h-12 w-auto mx-auto', loading: 'lazy', alt: 'client logo' %>
  </div>
  <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
    <%= image_tag 'netflix.svg', class: 'h-8 w-auto m-auto', loading: 'lazy', alt: 'client logo' %>
  </div>
  <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
    <%= image_tag 'google-cloud.svg', class: 'h-12 w-auto mx-auto', loading: 'lazy', alt: 'client logo' %>
  </div>
</div>

<div class="hero min-h-screen bg-base-200 flex justify-center items-center h-screen">
  <div class="bg-base-100 p-8 rounded-lg shadow-lg w-full max-w-md ">
    <h2 class="text-2xl font-bold mb-4">Add your company</h2>
    <form action="/insert_company" method="post" class="space-y-6">

      <div class="form-control">
        <label for="name_box" class="label">
          <span class="label-text">Name</span>
        </label>
        <input type="text" id="name_box" name="query_name" class="input input-bordered w-full" placeholder="Enter company name">
      </div>
      <div class="form-control">
        <label for="description_box" class="label">
          <span class="label-text">Description</span>
        </label>
        <textarea id="description_box" name="query_description" rows="3" class="input input-bordered w-full" placeholder="Enter company description"></textarea>
      </div>
      <div class="form-control">
        <label for="website_box" class="label">
          <span class="label-text">Website link</span>
        </label>
        <input type="text" id="website_box" name="query_website" class="input input-bordered w-full" placeholder="Enter company website">
      </div>
      <div class="form-control">
        <label for="website_box" class="label">
          <span class="label-text">Company Photo</span>
        </label>
        <input type="file" class="file-input file-input-bordered file-input-primary w-full max-w-xs" />
      </div>
      <div class="form-control mt-6">
        <button type="submit" class="btn btn-primary w-full">Create company</button>
      </div>
    </form>
  </div>
</div>
